@import url(https://fonts.googleapis.com/css2?family=Special+Elite&display=swap);

:root{
  --green: #418537;
}

main{
  text-align: center;
}

#logo{
  font-family: "Special Elite";
  font-size: 28px;
  text-align: center;
  color: var(--green);
  margin: 0;
  padding: 0;
}

main{
  max-width: 800px;
  margin: 0 auto;
  font-family: "Special Elite";
}

#word{
  text-align: center;
  font-size: 28px;
  font-family: "Special Elite";
  color: #646362;
}

#solution{
  text-align: center;
}

.letter{
  width: 32px;
  height: 32px;
  margin: 0 4px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Special Elite";
  border: #ddd solid 2px;
  border-radius: 4px;
}

h1{
  font-family: "Special Elite";
  color: #696969;
}

p{
  text-align: center;
  color: #696969;
  font-size: 18px;
}

table{
  border: collapse;
  border: var(--green) 5px solid;
  margin: 1em auto;
  padding: 0.4em;
}

table input {
  font-size: 20px;
  width: 1.5em;
  text-align: center;
  text-transform: uppercase;
  height: 1.5em;
  margin: 0.1em;
  font-family: "Special Elite";
  border: #eee solid 2px;
  border-radius: 4px;
}

td{
  text-align: center;
  font-size: 32px;
}

.buttons{
  margin: 0 auto;
}

.buttons button{
 width: 6em;
}

button{
  margin: 0.05em 1em;
  background: #60c923;
  border: none;
  border-radius: 0.6em;
  padding: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
  color: #f6f6f6;
}

button:hover{
  background: #418537;
    }

#clues h1{
  text-align: center;
  font-size: 28px;
  color: #696969;
}

#instructions p{
  font-family: sans-serif;
  max-width: 32em;
  margin: 1em auto;
}
